@media screen and (max-width: 1257px) {
  #name {
    margin: 0 auto;
  }
  #imp {
    font-size: 170%;
  }
  #caption {
    font-size: 90%;
  }
  #nav-content ul {
    width: 700px;
    margin-left: -10px;
  }
  #logo {
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 1152px) {
  #name {
    text-align: center;
  }
  #caption {
    text-align: left;
  }
  #imp {
    font-size: 150%;
  }
}

@media screen and (max-width: 1030px) {
  #icons li a {
    font-size: 35px;
  }

  .hamburger {
    visibility: visible;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .hamburger .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: top 1s ease;
    display: none;
  }

  .hamburger .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .hamburger .openMenu {
    display: block;
    position: relative;
    top: 2px;
    transition: top 1s ease;
  }

  .hamburger .mainMenu li a:hover {
    background: none;
    color: yellow;
    transform: scale(1.04, 1.04);
  }

  .barIcons i {
    display: inline-block;
    padding: 12px;
    font-size: 2rem;
  }

  .bargit:hover {
    color: orangered;
  }

  .barinsta:hover {
    color: #8a3ab9;
  }

  .barlinkd:hover {
    color: #0077b5;
  }

  #list {
    display: none;
  }

  #logo {
    text-align: left;
    font-size: 20px;
  }
  #logo {
    position: absolute;
    left: 20px;
  }

  .mobileapp {
    position: absolute;
    bottom: 20px;
    right: 20%;
    display: block;
  }
  #list {
    max-width: 380px;
    height: 20vh;
    margin-top: 35vh;
    text-align: center;
    line-height: 5vh;
  }

  .aboutus p {
    font-size: 20px;
  }
}

@media screen and (max-width: 855px) {
  #caption {
    font-size: 70%;
  }
}

@media screen and (max-width: 720px) {
  #profession {
    font-size: 150%;
    letter-spacing: 1px;
  }
  #imp {
    font-size: 165%;
  }
}

@media screen and (max-width: 665px) {
  #name {
    top: 50%;
  }
  #caption {
    font-size: 60%;
  }
}

@media screen and (max-width: 570px) {
  body {
    overflow-x: hidden;
  }
  #moving {
    margin-right: 20px;
  }

  #list {
    max-width: 380px;
    height: 20vh;
    margin-top: 35vh;
    text-align: right;
    line-height: 5vh;
  }

  .aboutus {
    font-size: 15px;
  }
  span {
    position: relative;
    bottom: 5px;
    font-size: 10px;
  }
}
