* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: navy;
  z-index: 999;
}

#container {
  width: 80px;
  height: 80px;
  background: white;
  position: absolute;
  top: 45vh;
  left: 45%;
  border-radius: 20%;
  animation: cont 4s infinite;
}

.ball2 {
  background: black;
  animation: blacky 4s infinite;
}
.ball3 {
  background: lime;

  animation: limy 4s infinite;
}

.ball,
.ball2,
.ball3,
.ball4 {
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  overflow-x: hidden;
}

.bgimg {
  background-image: url("../images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main {
  background-image: url("../images/man.jpg");
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 40%,
    80% 50%,
    70% 100%,
    30% 100%,
    20% 50%,
    0% 40%,
    0% 0%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

#nav-bar {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  opacity: 0.7;
}

#logo {
  width: 400px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Livvic", sans-serif;
}

.mobileapp {
  color: white;
  display: none;
  font-size: 30px;
  position: relative;
  bottom: 5%;
}

#list {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 80%;
}

#nav-content li {
  list-style: none;
}

#nav-content a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

#nav-content a:hover {
  color: yellow;
  letter-spacing: 2px;
  transition: 0.3s ease-in;
}

#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}

#profession {
  font-family: "Livvic", sans-serif;
  font-size: 100%;
  letter-spacing: 4px;
  position: relative;
  bottom: 20px;
  text-align: center;
}

#imp {
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-family: "Acme", sans-serif;
}

#caption {
  animation: merge 3s infinite;
}

/*burger menu*/
.hamburger {
  visibility: hidden;
}

.mainMenu {
  display: flex;
  list-style: none;
}

.mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

.openMenu {
  font-size: 25px;
  display: none;
  cursor: pointer;
}

.mainMenu,
.closeMenu,
.barIcons i {
  font-size: 20px;
  color: #fff;
}

.about {
  width: 100%;
  height: 40vh;
  background: yellow;
  opacity: 0.8;
  clip-path: polygon(
    0% 30%,
    20% 0%,
    80% 0%,
    100% 30%,
    80% 50%,
    100% 100%,
    0% 100%,
    20% 50%,
    0% 30%
  );
  text-align: center;
  color: black;
}

.hi {
  font-family: "Livvic", sans-serif;
}

.aboutus {
  margin: 0 auto;
  text-align: center;

  max-width: 60%;
  padding-top: 20px;
  position: relative;
  top: 8%;
  font-size: 25px;
}

.contact-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ball1 {
  background: #141414;
  opacity: 0.6;
  left: 0px;
  width: 10%;
  height: 40vh;
  border-radius: 10px;
}

.contacts {
  margin: 0 auto;
  position: absolute;
  background: #141414;
  width: 60%;
  height: 40vh;
  clip-path: polygon(
    0% 0%,
    20% 0%,
    50% 20%,
    80% 0%,
    100% 0%,
    100% 100%,
    80% 100%,
    20% 100%,
    0% 100%,
    0% 0%
  );
  border-radius: 10px;
  z-index: 100;
}

.backpic {
  margin: 0 auto;
  width: 60%;

  border-radius: 10px;
  z-index: 10;
}

#devp {
  width: 40%;
  font-family: "Righteous", cursive;
  font-size: 60px;
}

#mypic {
  height: 150px;
  position: relative;
  left: 30%;
  bottom: 10%;
}

.box {
  margin: 0 auto;
  max-width: 520px;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  color: white;
  font-family: "Century Gothic", sans-serif;
}

.box-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 300;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 200;
  padding: 5px;
}

.social-icons ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social-icons ul li a {
  color: white;
  font-size: 40px;
}

.linked:hover {
  color: #0077b5;
  transition: 2ms all ease-in;
}

.whatsapp:hover {
  color: #25d366;
  transition: 2ms all ease-in;
}

.git:hover {
  color: orangered;
  transition: 2ms all ease-in;
}

.footer {
  line-height: 30px;
  width: 100vw;
  background: black;
  opacity: 0.7;
  text-align: center;
}

.footer a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 100;
}

.tech {
  margin: 0 auto;

  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
}

.badge-language {
  text-align: center;
  width: 60%;
  min-width: 400px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.badge-language img,
.badge-tools img {
  width: 60px;
  height: 60px;
  margin: 5px;
}

.tech h2 {
  animation: change 2s infinite linear;
}

@keyframes change {
  0% {
    color: whitesmoke;
  }
  50% {
    color: yellow;
  }
  100% {
    color: whitesmoke;
  }
}
